* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: black;
    color: #666;
}

audio {
    
    width: 450px;
    margin: 80px 0 30px 0;
}

.container {
    height: 420px;
    overflow: hidden;
}

.container .lrc-list {
    list-style: none;
    transition: 0.6s linear 0s;
}
.container .lrc-list li {
    height: 30px;
    line-height: 30px;
    transition: 0.2s;
}
.container .lrc-list li.active {
    color: white;
    /* font-size: ; */
    transform: scale(1.2);
}